// hero section start

.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 500px;
    margin-bottom: 10%;
    background-position: 100% 100%;

    // .hero__container

    &__container {
        margin: 0;
    }
}

// hero section end

// Version section start

.version {
    padding-bottom: 10%;

    // .version__container

    &__container {
        position: relative;
        isolation: isolate;
        padding: 8% 15px;
        border-radius: 30px;
        background-color: #181818;
        overflow: hidden;
    }

    // .version__pattern

    &__pattern {
        position: absolute;
        z-index: -1;
        top: -100px;
        left: -100px;
        max-width: 250px;
        transform: rotate(43deg);
    }

    // .version__green

    &__green {
        position: absolute;
        z-index: -1;
        bottom: -80px;
        left: -160px;
        width: 225px;
        height: 285px;
        border-radius: 20px;
        background-color: #4eaf4e;
        transform: rotate(135deg);
    }

    // .version__title

    &__title {
        margin: 0;
        color: #fff;
    }

    // .version__form

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    // .version__input

    &__input {
        width: 100%;
        max-width: 310px;
        padding: 20px;
        border: 1px solid #e3e3e3;
        border-radius: 55px;
        background-color: #ffffff;
    }
}

// Version section end