// hero section start

.hero {
    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 500px;
    margin-bottom: 10%;
    background-position: 10% 80%;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: rgb(57, 57, 57, 0.2);
    }

    // .hero__container

    &__container {
        margin: 0;
    }
}

// hero section end

// password section start


.password {
    margin-bottom: 8%;

    // .password__container

    &__container {
        position: relative;
        isolation: isolate;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6% 15px;
        border-radius: 30px;
        background-color: #181818;
        overflow: hidden;
    }

    // .password__Pattern

    &__Pattern {
        position: absolute;
        top: -70px;
        left: -85px;
        width: 170px;
        transform: rotate(43deg);
        z-index: -1;
    }

    // .password__green

    &__green {
        position: absolute;
        bottom: -60px;
        left: -90px;
        z-index: -1;
        width: 170px;
        height: 170px;
        border-radius: 20px;
        background-color: #4eaf4e;
        transform: rotate(135deg);
    }

    // .password__title

    &__title {
        color: #fff;
    }

    // .password__form

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .password__input

    &__input {
        width: 100%;
        max-width: 380px;
        margin-bottom: 25px;
        padding: 20px;
        border: 1px solid #e3e3e3;
        border-radius: 54px;
        background-color: #ffffff;
    }

    // .password__btn

    &__btn {}
}

// password section end