.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 550px;
    margin-bottom: 85px;
    background-position: 50% 20%;
    transition: background-position 0.4s;
}

@media (min-width: 768px) {
    .hero {
        background-position: 40% 20%;
    }
}

.hero__container {
    margin: 0;
}

.touch {
    padding-bottom: 10%;
}

.touch__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.touch__content {
    flex-basis: 45%;
}

.touch__subtitle {
    margin-bottom: 10px;
}

.touch__text {
    max-width: 470px;
    margin-bottom: 35px;
}

.touch__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.touch__item:not(:last-child) {
    margin-bottom: 15px;
}

.touch__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #181818;
    border-radius: 50%;
}

.touch__icon {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: #fff;
}

.touch__item-text {
    margin-bottom: 5px;
    font-weight: 400;
    color: #595566;
}

.touch__link {
    display: block;
    text-decoration: none;
    color: #181818;
    font-weight: 600;
}

.contact {
    padding-bottom: 10%;
}

.contact__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 992px) {
    .touch__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .touch__img {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .contact__container {
        flex-direction: row;
        justify-content: space-between;
    }
}