.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 400px;
    background-position: 100% 50%;
    transition: background-position 0.4s;
}

.hero__container {
    margin: 0;
}

.business {
    margin-bottom: 8%;
    padding: 10% 0;
    background-color: #F5F5F5;
}

.business__swiper {
    margin-bottom: 70px;
}

.business__swiper .swiper-button-next,
.business__swiper .swiper-button-prev {
    position: static;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFC42B;
    transition: background-color 0.4s;
}

.business__swiper .swiper-button-next:hover,
.business__swiper .swiper-button-prev:hover {
    background-color: #181818;
}

.business__swiper .swiper-button-next:hover::after,
.business__swiper .swiper-button-prev:hover::after {
    color: #fff;
}

.business__swiper .swiper-button-next::after,
.business__swiper .swiper-button-prev::after {
    content: "\279C";
    color: #141414;
    font-size: 20px;
    transition: color 0.4s;
}

.business__swiper .swiper-button-prev::after {
    transform: rotate(180deg);
}

.business__box {
    max-width: 600px;
}

.business__navigation-box {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.business__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    align-items: start;
    gap: 40px;
}

.business__item {
    padding: 35px 25px;
    border-radius: 20px;
    background-color: #EBEBEB;
    transition: background-color 0.4s;
}

.business__item:hover {
    background-color: #181818;
}

.business__item:hover .business__title {
    color: #fff;
    transition: color 0.4s;
}

.business__item:hover .business__text {
    color: #fff;
    transition: color 0.4s;
}

.business__item:hover .business__icon {
    fill: #FFC42B;
}

.business__item .business__icon {
    width: 35px;
    height: 25px;
    margin-bottom: 25px;
    fill: #181818;
    transition: fill 0.4s;
}

.swiper.business__swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    transition: gap 0.4s;
}

.work {
    padding-bottom: 6%;
}

.work__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 85px;
}

.work__content {
    max-width: 480px;
}

.work__subtitle {
    margin-bottom: 15px;
}

.work__text {
    margin-bottom: 25px;
}

.work__text-box {
    display: flex;
}

.work__text-box:not(:last-child) {
    margin-bottom: 20px;
}

.work__icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.history {
    margin-bottom: 10%;
    padding: 10% 0;
    background-color: #181818;
}

.history__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
}

.history__subtitle {
    margin-bottom: 20px;
}

.history__title {
    color: #FFF;
    max-width: 520px;
}

.history__box {
    position: relative;
    isolation: isolate;
}

.history__pattern {
    position: absolute;
    top: -35px;
    left: -50px;
    z-index: -2;
    max-width: 280px;
}

.history__bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
    border-radius: 30px;
}

.history__bg::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.4);
    border-radius: 30px;
}

.history__play-button {
    z-index: 2;
    transition: transform 0.4s;
}

.history__play-button:active {
    transform: scale(0.9);
}

.history__background-green-icon {
    position: absolute;
    top: -10px;
    left: -110px;
    z-index: -1;
}

.history__background-yellow-icon {
    position: absolute;
    bottom: -20px;
    right: -40px;
    z-index: -1;
    width: 164px;
    height: 183px;
    border-radius: 20px;
    background-color: #FFCC4A;
}

.proccess {
    padding-bottom: 10%;
}

.proccess__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.proccess__img-box {
    position: relative;
    isolation: isolate;
    display: flex;
    gap: 15px;
}

.proccess__img {
    border-radius: 28px;
}

.proccess__img_big {
    max-width: 300px;
}

.proccess__img_top,
.proccess__img_bottom {
    max-width: 320px;
}

.proccess__icon {
    position: absolute;
    bottom: -80px;
    z-index: -1;
    width: 135px;
    height: 250px;
    border-radius: 20px;
    background-color: #4eaf4e;
    transform: rotate(-90deg);
}

.proccess__Pattern {
    position: absolute;
    top: -20px;
    right: -60px;
    z-index: -1;
    max-width: 300px;
}

.proccess__small-img-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq {
    margin-bottom: 10%;
}

.faq__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 15%;
    background-color: #F5F5F5;
}

.faq__content {
    text-align: center;
}

.faq__subtitle {
    margin-bottom: 20px;
}

.faq__title {
    margin-bottom: 40px;
}

.accordion {
    width: 100%;
}

.accordion__item {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
}

.accordion__body-text {
    max-width: 600px;
}

.accordion__button::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 3px;
    background-color: #181818;
}

.accordion__button::before {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    transform: translateY(-50%) rotate(90deg);
    width: 20px;
    height: 3px;
    background-color: #181818;
    transition: transform 0.4s;
}

.accordion__button_active::before {
    transform: translateY(-50%) rotate(0);
}

@media (min-width: 992px) {
    .work__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .work__img {
        max-width: 600px;
    }

    .proccess__container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .swiper.business__swiper {
        align-items: end;
        gap: 0;
    }

    .hero {
        background-position: 50% 44%;
    }
}

@media (min-width: 576px) {

    .accordion__button::after,
    .accordion__button::before {
        right: 0;
    }
}