.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 600px;
    background-position: 100% 50%;
}

.hero__container {
    margin: 0;
}

.proccess {
    padding-bottom: 10%;
}

.proccess__container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
}

.proccess__img {
    border-radius: 28px;
}

.proccess__content {
    max-width: 450px;
}

.proccess__subtitle {
    margin-bottom: 20px;
}

.proccess__title {
    max-width: 430px;
    margin-bottom: 40px;
}

.proccess__item {
    display: flex;
    gap: 20px;
}

.proccess__item:not(:last-child) {
    margin-bottom: 40px;
}

.proccess__icon {
    flex-shrink: 0;
    width: 30px;
    height: 26px;
}

.pricing {
    margin-bottom: 10%;
    padding: 10% 0;
    background-color: #F5F5F5;
}

.pricing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.pricing__subtitle {
    margin-bottom: 20px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-items: center;
    gap: 50px;
    overflow: hidden;
}

.pricing__item {
    padding: 20px 22px 40px 22px;
    background-color: #FFF;
    border-radius: 20px;
}

.pricing__item:hover .pricing__month {
    background-color: #4EAF4E;
    color: #fff;
}

.pricing__item:hover .pricing__btn {
    background-color: #FFCC4A;
}

.pricing__price-box {
    position: relative;
    max-width: 320px;
    margin-bottom: 30px;
    padding: 35px;
    border-radius: 20px;
    background-color: #303030;
    overflow: hidden;
}

.pricing__price-box .pricing__text {
    padding-bottom: 10px;
    border-bottom: 1px dashed #565656;
    color: #fff;
}

.pricing__small-title {
    color: #fff;
}

.pricing__pattern {
    position: absolute;
    top: -40px;
    right: 20px;
    width: 90px;
    height: 90px;
}

.pricing__box {
    display: flex;
    align-items: center;
}

.pricing__price {
    margin-right: 10px;
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.pricing__month {
    padding: 0 15px;
    background-color: #3E3E3E;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    transition: background-color 0.4s, color 0.4s;
}

.pricing__data-list {
    margin-bottom: 35px;
}

.pricing__data {
    display: flex;
    align-items: center;
}

.pricing__data:not(:last-child) {
    margin-bottom: 20px;
}

.pricing__arrow {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.pricing__btn {
    display: block;
    padding: 15px 100px;
    margin: 0 auto;
    outline: 1px solid #d6d6d6;
    border-radius: 42px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    text-wrap: nowrap;
    transition: background-color 0.4s;
}

.contact {
    padding-bottom: 10%;
}

.contact__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 992px) {
    .proccess__container {
        flex-direction: row;
        gap: 80px;
    }

    .contact__container {
        flex-direction: row;
        justify-content: space-between;
    }
}