@font-face {
    font-family: "Cabin";
    src: url(../../fonts/Cabin-Bold.woff),
        url(../../fonts/Cabin-Bold.ttf);
    display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Cabin";
    src: url(../../fonts/Cabin-SemiBold.woff),
        url(../../fonts/Cabin-SemiBold.ttf);
    display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Cabin";
    src: url(../../fonts/Cabin-Medium.woff),
        url(../../fonts/Cabin-Medium.ttf);
    display: swap;
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cabin";
    src: url(../../fonts/Cabin-Regular.woff),
        url(../../fonts/Cabin-Regular.ttf);
    display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "lato";
    src: url(../../fonts/Lato-Bold.woff2),
        url(../../fonts/Lato-Bold.woff),
        url(../../fonts/Lato-Bold.ttf);
    display: swap;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "lato";
    src: url(../../fonts/Lato-Semibold.woff2),
        url(../../fonts/Lato-Semibold.woff),
        url(../../fonts/Lato-Semibold.ttf);
    display: swap;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "lato";
    src: url(../../fonts/Lato-Regular.woff2),
        url(../../fonts/Lato-Regular.woff),
        url(../../fonts/Lato-Regular.ttf);
    display: swap;
    font-style: normal;
    font-weight: 400;
}