.footer {
    padding-top: 10%;
    padding-bottom: 30px;

    // .footer__container

    &__container {}

    // .footer__wrapper

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 55px;
        border-bottom: 1px solid #707070;
    }

    // .footer__content

    &__content {
        max-width: 350px;
        padding-right: 10%;
        border-right: 1px solid rgb(112, 112, 112);
    }

    // .footer__logo

    &__logo {
        margin-bottom: 30px;
    }

    // .footer__logo-icon

    &__logo-icon {}

    // .footer__logo-text

    &__logo-text {}

    // .footer__socials

    &__socials {}

    // .footer__social

    &__social {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }

    // .footer__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        width: 40%;
    }

    // .footer__item

    &__item {}

    // .footer__title

    &__title {
        position: relative;
        margin-bottom: 20px;
        color: #fff;

        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 30px;
            height: 3px;
            border-radius: 20px;
            background-color: #FFCC4A;
        }
    }

    // .footer__sublist

    &__sublist {}

    // .footer__subitem

    &__subitem {

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    // .footer__sublink

    &__sublink {

        &::before {
            background-color: #fff;
        }
    }

    // .footer__address

    &__address {}

    // .footer__text

    &__text {
        max-width: 230px;
        margin-bottom: 15px;
        color: #fff;
    }

    // .footer__link

    &__link {
        display: inline-block;
        padding: 15px 23px;
        text-decoration: none;
        color: #181818;
        font-family: Lato;
        font-size: 18px;
        font-weight: 600;
        border-radius: 42px;
        background-color: rgb(255, 255, 255);
    }

    &__copyright {
        padding-top: 20px;
        color: #fff;
        text-align: center;
    }
}