.header {
    position: relative;
    z-index: 10;
    backdrop-filter: blur(21px);
    background-color: rgba(27, 27, 27, 0.91);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.header__logo {
    position: relative;
    z-index: 10;
}

.header {

    // .header__contact-box

    &__contact-box {
        position: relative;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        padding: 20px 5px;
        background-color: #181818;
    }

    // .header__time-box

    &__time-box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    // .header__icon

    &__icon {
        width: 20px;
        height: 20px;
        fill: transparent;
        stroke: #FFCC4A;
    }

    // .header__time

    &__time {}

    // .header__address

    &__address {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .header__text

    &__text {
        font-family: Lato;
        font-weight: 400;
        color: #fff;
    }

    // .header__socials

    &__socials {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    // .header__social-link

    &__social-link {}

    // .header__social-icon

    &__social-icon {
        fill: #fff;
    }
}