.footer {
    padding-top: 10%;
    padding-bottom: 30px;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 55px;
    border-bottom: 1px solid #707070;
}

.footer__content {
    max-width: 350px;
    padding-right: 10%;
    border-right: 1px solid #707070;
}

.footer__logo {
    margin-bottom: 30px;
}

.footer__social {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 40%;
}

.footer__title {
    position: relative;
    margin-bottom: 20px;
    color: #fff;
}

.footer__title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 30px;
    height: 3px;
    border-radius: 20px;
    background-color: #FFCC4A;
}

.footer__subitem:not(:last-child) {
    margin-bottom: 4px;
}

.footer__sublink::before {
    background-color: #fff;
}

.footer__text {
    max-width: 230px;
    margin-bottom: 15px;
    color: #fff;
}

.footer__link {
    display: inline-block;
    padding: 15px 23px;
    text-decoration: none;
    color: #181818;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background-color: white;
}

.footer__copyright {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}