.main {
	min-height: 100%;
}

.main__overlay {
	position: fixed;
	inset: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.7s ease, 
	visibility 0.7s ease;
}

.main__overlay_active {
	opacity: 1;
	visibility: visible;
}